#
# MMC/SD host controller drivers
#

comment "MMC/SD/SDIO Host Controller Drivers"

config MMC_SPI
	tristate "MMC/SD/SDIO over SPI"
	depends on SPI_MASTER && !HIGHMEM && HAS_DMA
	select CRC7
	select CRC_ITU_T
	help
	  Some systems access MMC/SD/SDIO cards using a SPI controller
	  instead of using a "native" MMC/SD/SDIO controller.  This has a
	  disadvantage of being relatively high overhead, but a compensating
	  advantage of working on many systems without dedicated MMC/SD/SDIO
	  controllers.

	  If unsure, or if your system has no SPI master driver, say N.


config MMC_ATSMB	
	tristate "WonderMedia ATSMB(AHB To MMC/SD BUS)"	
	help	  
		This selects the WMT Secure digital and Multimedia card Interface.	  
		If you have a machine with WonderMedia ATSMB, say Y or M here.	  	  

		If unsure, say N.	  
